{% extends 'base.html' %}

{% block title %} about us{% endblock %}

{% block css %}
{% endblock %}
{% block body %}
<h2 style="text-align:center">Team SIDEMEN</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>H K Anish Koushik</h2>
        <p class="title">1AT19IS033</p>
        <p>Atria Institute of Technology</p>
        <p>anish@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Nishanth Michael C</h2>
        <p class="title">1AT19IS062</p>
        <p>Atria Institute of Technology</p>
        <p>nishanth@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Aravind A</h2>
        <p class="title">1AT19IS018</p>
        <p>Atria Institute of Technology</p>
        <p>aravind@example.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Chethan Ganiger</h2>
        <p class="title">1AT19IS023</p>
        <p>Atria Institute of Technology</p>
        <p>chethan@example.com</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}